img{
    height: 150px;
    width: 200px;
}

.container{
    /* background: blue; */
}

button{
    width: 20%;
    /* background: #666666; */
}

.card{
    /* background: blue; */
    /* margin-right: 0.5px;*/
    /* max-width: 1000px; */
    
} 

